{% extends 'sklep/base/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'sklep/base/category.css' %}" />
{% endblock %}
{% block content %}
<div class='grid_container'>
    <div class='sidebar'>
        <form action="" method="GET">
            <!-- <div>
                <h>kolor</h>
                <p><input type="radio" name="color" value="" placeholder="kolor" checked='true'>dowolny</p>
                <p><input type="radio" name="color" value="czarny" placeholder="kolor">czarny</p>
                <p><input type="radio" name="color" value="brązowy" placeholder="kolor">brązowy</p>
            </div>
            <div>
                <h>podkategoria</h>
                <p><input type="radio" name="podkategoria" value="" placeholder="podkategoria" checked='true'>dowolna</p>
                {%for podkategoria in podkategorie%}
                    <p><input type="radio" name="podkategoria" value="{{podkategoria.nazwa}}" placeholder="podkategoria">{{podkategoria.nazwa}}</p>
                {%endfor%}
            </div>
            <div>
                <h>marka</h>
                <p><input type="radio" name="marka" value="" placeholder="marka" checked='true'>dowolna</p>
                {%for marka in marki%}
                    <p><input type="radio" name="marka" value="{{marka}}" placeholder="marka">{{marka}}</p>
                {%endfor%}
            </div>
            <div>
                <p>
                    <labvel for='cena_min'> min: </label>
                    <input type='number'id='cena_min' name='cena_min' placeholder="cena min">
                </p>
                <p>
                    <labvel for='cena_max'> max: </label>
                    <input type='number'id='cena_max' name='cena_max' placeholder="cena max">
                </p>
            </div>
            <div>
                <p> <input type="submit" value="Wyszukaj"></p>
            </div>
            <script>
            $(document).on("click", "input[name='radioBtn']", function(){
                thisRadio = $(this);
                if (thisRadio.hasClass("imChecked")) {
                    thisRadio.removeClass("imChecked");
                    thisRadio.prop('checked', false);
                } else { 
                    thisRadio.prop('checked', true);
                    thisRadio.addClass("imChecked");
                };
            })
            </script> -->
            <div class = "animation">
                <p id = 'button'>Kategorie</p>
                   
                   
           </div>
           <div class = 'sorted' id = sorted_fun>
               
               
               <div class = "sort">
               
               <h>kolor</h>
               
               <p><input type="radio" name="color" value="" placeholder="kolor" checked='true'>dowolny</p>
               <p><input type="radio" name="color" value="czarny" placeholder="kolor">czarny</p>
               <p><input type="radio" name="color" value="brązowy" placeholder="kolor">brązowy</p>
           </div>
           <div class = "sort">
               <h>podkategoria</h>
               <p><input type="radio" name="podkategoria" value="" placeholder="podkategoria" checked='true'>dowolna</p>
               {%for podkategoria in podkategorie%}
                   <p><input type="radio" name="podkategoria" value="{{podkategoria.id}}" placeholder="podkategoria">{{podkategoria.nazwa}}</p>
               {%endfor%}
           </div>
           <div class = "sort">
               <h>marka</h>
               <p><input type="radio" name="marka" value="" placeholder="marka" checked='true'>dowolna</p>
               {%for marka in marki%}
                   <p><input type="radio" name="marka" value="{{marka}}" placeholder="marka">{{marka}}</p>
               {%endfor%}
           </div>
           <div class = 'kasa'>
               <div class= "minmax">
               <p>
                   
                   <input type='number'id='cena_min' name='cena_min' placeholder="cena min">
               </p>
               <p>
                   
                   <input type='number'id='cena_max' name='cena_max' placeholder="cena max">
               </p>
                   </div>
               <p> <input type="submit" value="Wyszukaj"></p>
           </div>
           </div>
        <form>
    </div>
    <div class='body_text'>
        <div id="product-information">
            <p>
                Nowości
            
            </p>
        </div>
        <div class="product-wrapper" id="product-wrapper">
            <div id="products">
                {% for produkt in produkt_list %}
                <div id="product">
                    <div class="product-image">
                        <img src="{{ produkt.zdjecie_glowne.url }}">
                    </div>
                    <div class="product-information">
                        <div class="product-name">
                            <a class="product-name-style" href="{% url 'sklep:produkt_details' produkt.id %}">{{ produkt.marka }} {{ produkt.model }}</a>
                        </div>
                        <div class="product-price">{{ produkt.cena }} zł</div>
                        <div class="product-category">{{ produkt.podkategoria.nazwa }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'sklep/base/category.js' %}"></script>
{% endblock %}