{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" text="type/css" href="{% static 'sklep/base/base.css' %}">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"  rel="stylesheet"  type='text/css'>
    {% block style %}{% endblock %}
    <title>{% block title %}ProjektIO {% endblock %}</title>
    <script type="text/javascript">
        var user = '{{ request.user }}'
        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');
    </script>
    
</head>

<body>
    <div class="header">
        {%include 'sklep/base/nav.html'%}
    </div>
    
    <div class="containerforbackground">
        <div class="container">
            {% block content %}
            <div id="product-information">
                <p>
                    Ulubione produkty
                </p>
            </div>
            <div class="product-wrapper" id="product-wrapper">
                <div id="products">
                    {% for produkt in fav_products %}
                    <div id="product">
                        <div class="product-image">
                            <img src="{{ produkt.zdjecie_glowne.url }}">
                        </div>
                        <div class="product-information">
                            <div class="product-name">
                                <a class="product-name-style" href="{% url 'sklep:produkt_details' produkt.id %}">{{ produkt.marka }} {{ produkt.model }}</a>
                            </div>
                            <div class="product-price">{{ produkt.cena }} zł</div>
                            <div class="product-category">{{ produkt.podkategoria.nazwa }}</div>
                        </div>
                        <button id="{{produkt.id}}" class="add-to-fav-btn">{%csrf_token%}
                            Usuń z ulubionych
                        </button>
                    </div>
                    {% endfor %}
                    <script>
                        const prod_wrapper = document.querySelector('.product-wrapper')
                        const btns = prod_wrapper.querySelectorAll('button')
                        for (let i=0; i<btns.length; i++){
                            const token = '{{csrf_token}}'
                            btns[i].addEventListener('click', () => {
                                data = JSON.stringify({
                                    id: btns[i].id
                                })
                                fetch("", {
                                    method: 'POST',
                                    headers: {"X-CSRFToken": token},
                                    body: data
                                }).then((res) => {
                                    if(res.ok){
                                        document.location.reload()
                                    }
                                })
                            })
                        }
                    </script>
                </div>
            </div>
            {% endblock %}
        </div>

    <script src="{% static 'sklep/base/base.js' %}"></script>
    {% block script %}
    {% endblock %}

    <svg class="icons">

        <symbol id="icon-search" viewBox="0 0 512 512">
          <path d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"/>
        </symbol>

        
        </svg>

</body>
</html>