{% load static %}
<nav>
    <div class="top-header">
        <div class="logo">
            <a href="{% url 'sklep:base' %}">
                <img src="{% static 'sklep/base/logo.png'  %}" alt="LOGO" />
            </a>
        </div>
        <div class="login-register-buttons">
            <a href="{% url 'sklep:faq' %}">FAQ</a>
            {% if user.is_authenticated %}
                <div class="login">
                    <p>Witaj <a class='user-buttons' href="{% url 'sklep:user_view' %}">{{ user.first_name }}</a></p>
                </div>
                <div class="pausebetween">
                    <p>|</p>
                </div>
                <div class="register">
                    <p><a class ='user-buttons' href="{% url 'sklep:logout_user' %}">Log Out</a></p>
                </div>
            {% else %}
                <div class="login">
                    <button id="login">
                        <a class="user-buttons" href="{% url 'sklep:login_user' %}">LOGOWANIE</a>
                    </button>
                </div>
                <div class="pausebetween">
                    <p>|</p>
                </div>
                <div class="register">
                    <button id="register">
                        <a class ='user-buttons' href="{% url 'sklep:register' %}">REJESTRACJA</a>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="bottom-header">
        <div class="bottom-header-left-side">

            <div class="category-button-box hide" id="category-btn-box">
                <button id="show-hide-categories">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <p>Kategorie</p>
            </div>
            
            <div class="categories" id="category-list">
                {%for kat in request.session.nav_cat%}
                <div class="category-element">
                    <p class="main-category">
                        <a href= "{%url 'sklep:filter_view' kat%}" >{{kat}}</a>
                    </p>
                </div>
                {%endfor%}
            </div>
        </div>
        <div class="bottom-header-right-side">

            <form action="{% url 'sklep:searchProduct' %}"  method="get" class="search-box">
                <input type="text" class="search-control" name = "query" placeholder="Szukaj..." id="search-input">
                <button class="search-btn">
                    <svg class="icon-search" viewBox="0 0 512 512">
                        <path d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"/>
                    </svg>
                </button>
            </form>
            <div class="shopping-basket">
                <button id="basket" >
                    <a href="{% url 'sklep:shopping_cart' %}">
                        <svg class="icon-basket" viewBox="0 0 576 512">
                            <path d="M96 0C107.5 0 117.4 8.19 119.6 19.51L121.1 32H541.8C562.1 32 578.3 52.25 572.6 72.66L518.6 264.7C514.7 278.5 502.1 288 487.8 288H170.7L179.9 336H488C501.3 336 512 346.7 512 360C512 373.3 501.3 384 488 384H159.1C148.5 384 138.6 375.8 136.4 364.5L76.14 48H24C10.75 48 0 37.25 0 24C0 10.75 10.75 0 24 0H96zM128 464C128 437.5 149.5 416 176 416C202.5 416 224 437.5 224 464C224 490.5 202.5 512 176 512C149.5 512 128 490.5 128 464zM512 464C512 490.5 490.5 512 464 512C437.5 512 416 490.5 416 464C416 437.5 437.5 416 464 416C490.5 416 512 437.5 512 464z"/>
                        </svg>
                    </a>
                    <a href="{% url 'sklep:fav_view' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16" id="IconChangeColor"> <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" id="mainIconPathAttribute"></path> </svg>
                    </a>
                </button>
            </div>
        </div>
    </div>
</nav>

