
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Century Gothic", sans-serif;
}

.header{
    max-width: 1280px;
    margin:0 auto;
    font-size:2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-header, .bottom-header{
    display: flex;
    justify-content:space-between;
    text-align: center;
    align-content: space-between;
}

.logo{
    width:100px;
    height:100px;

}

.logo img{
    width:100%;
    height:100%
}


.login-register-buttons{
    display: flex;
    gap:10px;
}

.login-register-buttons button:hover{
    text-decoration: underline 1px solid black;
}

#login, #register{
    border:none;
    font-size: 1.5rem;
    padding: 10px;
    background-color: white;
}


.user-buttons{
    text-decoration: none;
    color: black;
}

.user-buttons:hover{
    text-decoration: underline 1px solid black;
}

.bottom-header{
    align-items: flex-end;
}

.bottom-header{
    margin-top:10px;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.category-button-box{
    display: flex;
    font-size:1.3rem;
    gap:10px;
}

#show-hide-categories{
    background-color: white;
    border: none;
    border-radius: 1rem;
    font-size:1.3rem;
    margin-left:5px;
}

.categories{
    display: flex;
    gap:30px;
}

.category-element{
    font-size:1.5rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.category-element a{
    text-decoration: none;
    color:black;
}

.category-element li{
    margin: 5px 0;
}

.category-element > ol{
    position: absolute;
    display: none;
    background-color: white;
    padding: 10px 20px 10px;
    -webkit-box-shadow: 0px 12px 27px -14px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 12px 27px -14px rgba(66, 68, 90, 1);
    box-shadow: 0px 12px 27px -14px rgba(66, 68, 90, 1);
}

.category-element:hover > ol{
    display: block;
    z-index: 10;
}

.category-element li{
    list-style-type: none;
}

.category-element a:hover{
    text-decoration: underline 1px solid black;
}


.bottom-header-right-side{
    position: relative;
    display: flex;
    gap:20px;
    
}

.bottom-header-left-side{
    display: grid;
    gap:20px;
    
}

.search-box{
    display: flex;
    align-items: stretch;
    font-size:inherit;
}

.search-control{
    padding:3px 1rem;
    font-size:1.3rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid black;
    border-right: none;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    
}

.search-control::placeholder{
    color:black;
}

.search-btn{
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
    border-left: none;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width:50px;
    font-size:1.3rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.search-btn:hover{
    background-color: rgb(255, 206, 142);
}


.icon-search{
    margin: 2px 0 0 0;
    width: 20px;
    height: 20px;
}

#basket{
    font-size:inherit;
    background-color: white;
    color: black;
    border:none;
    width:50px;
    border-radius: 1rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

#basket:hover{
    cursor:pointer;
}

.icon-basket{
    width: 35px;
    height: 35px;
}


.containerforbackground{
    background:rgba(223, 184, 74, 0.2);
    width:100%;
    min-height:1000px;
    -webkit-box-shadow: inset 0px 15px 27px -20px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 15px 27px -20px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 15px 27px -20px rgba(66, 68, 90, 1);
    padding-bottom: 20px;
}

.container{
    max-width: 1280px;
    margin:0 auto;
}

#product-information{
    font-size:1.5rem;
    padding-top:40px;
    padding-bottom:20px;
}


#products{
    display: grid;
    gap:25px;

    

}

#product{
    background-color: rgb(255, 255, 255);
    width:300px;
    height: 400px;
    justify-self: center;
}



.product-image img{
    width:100%;
    height:300px;
    object-fit: cover;
    object-position: 50% 70%;
    display: block;
}

.product-information{
    display:flex;
    flex-direction: column;
    gap:5px;
    padding: 5px 0 0 10px;
}

.product-name{
    font-size:1.2rem;
}

.product-name-style{
    font-size: inherit;
    color: black;
    text-decoration: none;
}

.product-name-style:hover{
    text-decoration: underline 1px solid black;
}

.product-price, .product-category{
    color:rgba(0, 0, 0, 0.726)
}

.hide{
    display: none!important;
}



/* media */

@media only screen and (min-width:630px){
    #products{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width:750px){
   .bottom-header{
       display: flex;
       flex-direction: column-reverse;
       align-items: stretch;
   }
   .search-box{
       width:100%;
   }

   .search-control{
       width:90%;
       margin-left:5px;
   }

   .logo{
       display: none;
   }
}

@media only screen and (max-width:629px){
    #products{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .categories{
        display: flex;
        flex-direction: column;
    }

    .category-element{
        display: flex;
        flex-direction: column;
    }

    .category-element ol{
        display: none;
        flex-direction: column;
        position:static;
    }
    
    #show-hide-categories{
        display: block;
    }
    
    .category-element:hover > ol{
        display: none;
    }

    .category-element a:hover{
        text-decoration: none;
    }
    
}

@media only screen and (min-width:960px){
    #products{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width:1280px){
    #products{
        grid-template-columns: repeat(4, 1fr);
    }
}


.container-uz{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 70rem;
    margin: auto;
}


#prof-uz-dane{
    position: relative;
    top: 2rem;

    background: white;
    font-size: 20px;
    line-height: 2;
    width: 25rem;
    height: 15rem;
    padding: 5px 10px 5px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 11px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 11px -7px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 11px -7px rgba(66, 68, 90, 1);
}

.line-dec{
    border-top: 1px solid rgba(109, 109, 109, 0.375);
}

.text-auto{
    float:left;
    color: rgb(46, 46, 46);
    font-weight: 600;
    width: 40%;
}

.text-data{
    text-align: center;
}

.text-nick{
    font-size: 30px;
    text-align: center;
}


#prof-uz-mod{
    position: relative;
    top: 2rem;
    left: 2.5rem;

    background: white;
    font-size: 20px;
    line-height: 3;
    width: 25rem;
    height: 15rem;
    padding: 5px 10px 5px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 11px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 11px -7px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 11px -7px rgba(66, 68, 90, 1);

    display: -ms-flexbox;
}

.link-dec{
    border-top: 1px solid rgba(109, 109, 109, 0.375);
    text-align: center;
}

.link-dec2{
    text-align: center;
}



.user-adres{
    position: relative;
    text-align: center;   
}

.adres-dec2{
    width: 20%;
    margin: auto;
}

.adres-dec{
    width: 20%;
    padding: 0px 1rem 0 1rem;
    border-right: 1px solid rgba(109, 109, 109, 0.375);
}

.adres-list{
    font-weight: 600;
}



/*Zamiana hasła!!! */

.container-nh{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 70rem;
    margin: auto;
}


.nh-align{
    position: relative;
    top: 2rem;
    left: 2.5rem;
    
    background: white;
    font-size: 20px;
    line-height: 2;
    width: 25rem;
    height: 15rem;
    padding: 5px 10px 5px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 11px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 11px -7px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 11px -7px rgba(66, 68, 90, 1);
}

.nh-name{
    font-size: 2rem;
    text-align: center;
}

.nh-input input[type="password"]::placeholder {  
                  
    padding-left: 20px; 
} 

input {
    background-image: none;
    border-right: 1px solid rgba(0, 0, 0, 0.375);
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: background-color 0.3s;
  }

  input[type="submit"] {
    cursor: pointer;
  }

  .bottom, .nh-input{
    position: relative;
    top: 0.5rem;
    color:black;
    margin: 1rem 0.5rem 2rem 0.5rem;
  }


  .nh-input input[type="password"]{
    width: 100%;
  }

  .nh-input input[type="password"]:focus,
  .nh-input input[type="password"]:hover{
    background-color: rgba(49, 49, 49, 0.142);
  }



  .bottom input[type="submit"] {
    background-color: black;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
  }
  
  .bottom input[type="submit"]:focus,
  .bottom input[type="submit"]:hover {
    background-color: #2b2b2b;
  }


  /*Gwiazdki - product-detail */

  .rating{
    width:30rem;
    margin: 1rem 0 1rem -10rem;
    font-size: 45px;
    overflow: hidden;
    border:none;
    }
    
    .rating input{
        float: right;
        opacity: 0;
        position: absolute;
    }
    
    .rating a,
    .rating label{
        float:right;
        color: #aaa;
        text-decoration: none;
    }
        
    .rating label:hover ~ label,
    .rating label:hover,
    .rating a:hover,
    .rating a:hover ~ a,
    .rating input:focus ~ label,
    .rating a:focus,
    .rating a:focus{
        color: orange;
        cursor: pointer;
    }
    