@import url(./icons.css);
@import url(./variables.css);

@font-face{
    font-family: 'Dongle';
    src: url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');
    unicode-range: U+0041-017C;
}

*{
    font-family: 'Dongle', sans-serif;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
a{
    position: relative;
}

a.link::before{
    position: absolute;
    bottom: -5px;
    left: 0;
    content: "";
    height: 2px;
    background-color: black;
    transition: max-width .5s;
    max-width: 0;
    width: 100%;
}

a.link:hover::before{
    max-width: 100%;
}