{% extends 'sklep/base/base.html' %}
{% load static%}


{% block style %}
<link rel="stylesheet" text="type/css" href="{% static 'sklep/user/mod_danych.css' %}">
{% endblock %}

{% block content %}

<div class="container-uz">

    <form method="POST" action="">
        {% csrf_token %}

        <div class="ud-align">
            <div class="user-dat">

                <div class="nh-name">
                    <h3>Zmiana danych</h3>
                </div>

                <div class="line-dec">
                    <div class="text-auto">
                        Nazwa użytkownika
                     </div>
                    <div class="text-data">
                        {{user_nick_form.username}}
                    </div>
                </div>
           
                <div class="line-dec">
                   <div class="text-auto">
                        Imie 
                    </div>
                    <div class="text-data">
                        {{ user_mod_form.first_name }}
                    </div>
                </div>
            
                <div class="line-dec">
                    <div class="text-auto"> 
                        Nazwisko
                    </div>
                    <div class="text-data">
                        {{ user_mod_form.last_name }}
                    </div>
                </div>
            
                <div class="line-dec">
                    <div class="text-auto"> 
                        Email
                    </div>
                    <div class="text-data">
                        {{ user_mod_form.email}}
                    </div>
                </div>
            
                <div class="line-dec">
                    <div class="text-auto"> 
                        Telefon
                    </div>
                    <div class="text-data">
                        {{klient_mod_form.telefon}}
                    </div>
                </div>
            
                <div class="line-dec">
                    <div class="text-auto"> 
                        Data urodzenia
                    </div>
                    <div class="text-data">
                        {{klient_mod_form.data_urodzenia}}
                    </div>
                </div>
            
            </div>
            <div class="bottom">
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Zmień dane">
            </div>
        </div>

    </form>

</div>

{% endblock %}


