.container-his{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 70rem;
    margin: auto;
}

.align-his{
    position: relative;
    top: 2rem;
    left: 2.5rem;

    background: white;
    font-size: 17px;
    line-height: 2;
    width: 35rem;
    height: auto;

    padding: 5px 10px 5px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 11px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 11px -7px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 11px -7px rgba(66, 68, 90, 1);
}

.name{
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0 1rem 0;
}

.text-count{
    float:left;
}

.orders{
    border-top: 1px solid rgba(109, 109, 109, 0.375);
    margin: 0 0 2rem 0;
}

.text-date{
    float:left;
    color: rgb(46, 46, 46);
    font-weight: 600;
    width: 40%;
}
.count{
    margin: 0 0 0 10.5rem;
}