{% extends 'sklep/base/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" text="type/css" href="{% static 'sklep/user/user_view.css' %}">
{% endblock %}

{% block content %}

<div class="container-uz">
    <div id="prof-uz-dane">
        <div class="user-dat">
            <div>
                <div class="text-nick">
                    {{user.username}}
                </div>
            </div>

            <div class="line-dec">
                <div class="text-auto">
                    Imie 
                 </div>
                <div class="text-data">
                    {{user.first_name}}
                </div>
            </div>

            <div class="line-dec">
                <div class="text-auto"> 
                    Nazwisko
                </div>
                <div class="text-data">
                    {{user.last_name}}
                </div>
            </div>

            <div class="line-dec">
                <div class="text-auto"> 
                    Data urodzenia
                </div>
                <div class="text-data">
                    {{data_ur}}
                </div>
            </div>
            
            <div class="line-dec">
                <div class="text-auto"> 
                    Telefon
                </div>
                <div class="text-data">
                    {{telefon}}
                </div>
            </div>

        </div>
    </div>


    <div id="prof-uz-mod">

            <div class="link-dec2">
                <a class ='user-buttons' href="{% url 'sklep:orders_view' %}">histore zamówień</a>
            </div>

            <div class="link-dec">
                <a class ='user-buttons'  href="{% url 'sklep:user_dat_mod' %}">modyfikuj dane</a>
            </div>

            <div class="link-dec">
                <a class ='user-buttons' href="{% url 'sklep:user_profile' %}">zmień hasło</a>
            </div>

            <div class="link-dec">
                <a class ='user-buttons' href="{% url 'sklep:delete_account_page' %}">usuń konto</a>
            </div>

            <div class="link-dec">
                <a class ='user-buttons' href="{% url 'sklep:kontakt' %}">kontakt z adminstracją</a>
            </div>
    </div>
</div>

    <div class="prof-uz-adress">

        <div class="adress-center">
            <div>
                zapisane adresy: {{adres_size}}
            </div>
            <table class="user-adres">
                <tr class="adres-list">
                    <td class="adres-dec"> 
                        miejscowość
                    </td>

                    <td class="adres-dec">
                        ulica
                    </td>

                    <td class="adres-dec">
                        numer domu
                    </td>

                    <td class="adres-dec">
                        numer lokalu
                    </td>

                    <td class="adres-dec2">
                        kod pocztowy
                    </td>

                </tr>
                {%for adres in adresy%}
                    <tr>
                    
                    <td class="adres-dec">
                        <a class ='user-buttons' href='{% url "sklep:adres_mod" adres.id %}'> 
                            {{adres.miejscowosc}} 
                        </a>
                        </td>

                        <td class="adres-dec">
                            {{adres.ulica}}
                        </td>

                        <td class="adres-dec">
                            {{adres.numer_domu}} 
                        </td>

                        <td class="adres-dec">
                            {% if adres.numer_lokalu != None %}
                                {{adres.numer_lokalu}}
                            {% endif %}
                        </td>

                        <td class="adres-dec2">
                            {{adres.kod_pocztowy}}
                        </td>

                    </tr>
                {%endfor%}
                
                </table>

            <div class="link-dec">
                <a class ='user-buttons' href="{% url 'sklep:add_adres' %}">dodaj adres</a>
            </div>
            
        </div>

            <div class="prof-uz-adress">
                <div class="adress-center">
                    <div>
                        zapisane karty płatnicze: {{karty_płatnicze_size}}
                    </div>
                    <table class="user-adres">
                        <tr class="adres-list">
                            <td class="adres-dec"> 
                                numer
                            </td>
            
                            <td class="adres-dec">
                                cvc
                            </td>
            
                            <td class="adres-dec2">
                                data
                            </td>

            
                        </tr>
                        {%for karta in karty_płatnicze%}
                        <tr>
                            
                            <td class="adres-dec">
                                <a class ='user-buttons' href='{% url "sklep:credit_card_mod" karta.id %}'> 
                                    {{karta.numer}} 
                                </a>
                            </td>
            
                            <td class="adres-dec">
                                {{karta.cvc}}
                            </td>
            
                            <td class="adres-dec2">
                                {{karta.miesiac}} / {{karta.rok}}
                            </td>
            
                        </tr>
                        {%endfor%}
                    </table>

                    <div class="link-dec">
                        <a class ='user-buttons' href="{% url 'sklep:add_credit_card' %}">dodaj kartę płatniczą</a>
                    </div>

                </div>
            </div>
            
{% endblock %}