{% extends 'sklep/base/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" text="type/css" href="{% static 'sklep/user/dod_credit.css' %}">
{% endblock %}

{% block content %}

<div class="container-uz">

    <form method="POST" action="">
        {% csrf_token %}

        <div class="ud-align">
            <div class="user-dat"> 

                <div class="nh-name">
                    <h3>Dodawanie karty płatniczej</h3>
                </div>

                <div class="line-dec">
                    <div class="text-auto"> 
                        Numer 
                    </div>
                    <div class="text-data">
                        {{ kartyplatnicze_form.numer}}
                    </div>
                </div>
            
                <div class="line-dec">
                    <div class="text-auto"> 
                        CVC
                    </div>
                    <div class="text-data">
                        {{ kartyplatnicze_form.cvc}}
                    </div>
                </div>

                <div class="line-dec">
                    <div class="text-auto">
                        Miesiąc
                     </div>
                    <div class="text-data">
                        {{ kartyplatnicze_form.miesiac}}
                    </div>
                </div>
           
                <div class="line-dec">
                   <div class="text-auto">
                        Rok
                    </div>
                    <div class="text-data">
                        {{ kartyplatnicze_form.rok}}
                    </div>
                </div>

            </div>
            <div class="bottom">
                <input id="form-button" type="submit" value="Dodaj karte">
            </div>
        </div>

    </form>

</div>

{% endblock %}