* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.shopping-cart{
    display: flex;
    gap:50px;
    font-size:1.3rem;
    justify-content: space-between;
}

.product-summary{
    display: flex;
    flex-direction: column;
    margin-top:20px;
    width:35vw;
    background-color: white;
    -webkit-box-shadow: 0px 0px 6px -2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 6px -2px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 6px -2px rgba(66, 68, 90, 1);
    padding:20px;
    gap:10px;
}

.product{
    display: flex;
    gap:20px;
    border-top:1px solid rgb(219, 219, 219);
    border-bottom:1px solid rgb(219, 219, 219);
    justify-content: space-between;
}

.product-info{
    display: flex;
    gap:10px
}

.product-img{
    width:150px;
    height: 250px;
}

.product-img img{
    width:100%;
    height:100%;
}

.product-desc-sh{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product-name a{
    color:black;
    text-decoration: none;
}

.product-name a:hover{
    text-decoration: underline 1px solid black;
}

.product-quantity{
    display: flex;
    align-items: center;
    gap:20px
}

.product-quantity-buttons{
    display: flex;
    flex-direction: column;
    
}

.product-quantity-buttons button{
    font-size: 1.3rem;
    background: none;
    border:none;
}

.product-quantity-buttons button:hover{
    text-decoration: underline 1px solid black;
}

.product-delete{
    width: 70px;
    height: 70px;
}



.delete-btn{
    width:100%;
    height:100%;
    border: none;
    background: none;
    font-size: 2rem;
}

.order-summary{
    text-align: center;
    
}

.order-panel{
    padding: 20px;
    background-color: white;
    margin-top: 20px;
    width:22vw;
    height: auto;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position:sticky;
    top:20px;
    -webkit-box-shadow: 0px 0px 6px -2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 6px -2px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 6px -2px rgba(66, 68, 90, 1);
}

.go-next{
    width: 100%;
    height: 40px;;
}

.go-next-btn{
    width:100%;
    height:40px;
    color:white;
    background-color: black;
    font-size:1.5rem;
    border: 1px solid #ddd;
    text-decoration: none;
}

.go-next-btn:hover{
    color:black;
    background-color: white;

}

.empty-cart{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;;
    -webkit-box-shadow: 0px 0px 6px -2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 6px -2px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 6px -2px rgba(66, 68, 90, 1);
    justify-content: space-between;
}

.empty-cart-redirect-btn{
    width:100%;
    height: 40px;
}

.empty-cart a{
    color:black;
    text-decoration: none;
}

.empty-cart a:hover{
    text-decoration: underline 1px solid black;
}

.icon-trash{
    width: 30px;
    height: 30px;
}

.icon-trash:hover{
    cursor: pointer;
}

.icon-plus,
.icon-minus{
    width: 20px;
    height: 20px;
}

.icon-plus:hover,
.icon-minus:hover{
    cursor: pointer;
}