:root {
    --base-light-color: #ebeeef;
    --base-dark-color: #d2d2d2;
    --base-font: "Dosis";
    --secondary-font: "Dongle";
  }
img {
    max-width: 230px;
}
.img-div-card{
    padding: 35px 35px 35px 100px;
}
.item-card > p{
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
}
.flex-center {
    display: flex;
    flex-direction: row;
}
.item-price-card {
    padding-top: 20px;
    padding-right: 10px;
    text-align: right;
    color: #1A1E81;
    font-weight: 571;
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
}
.description-div-card{
    width: 100%;
    padding-left: 60px;
}
.item-brand-card{
    text-transform: capitalize;
    color: black;
    font-weight: 400;
    font-family: var(--base-font);
    font-size: 27px;
}
.item-name-card {
    font-size: 23px;
    font-weight: 524;
    font-family: var(--base-font);
}
.description-div-card > hr {    
    width: 80%;
    margin: 0px 0px 20px 0px;
    border:  1px solid rgba(0, 0, 0, 0.24);
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.description-div-card > .flex-row > select{
    margin-bottom: 10px;
    font-size: 24px;
    height: 28px;
    width: 60px;
    margin-right: 70px;
    margin-bottom: 25px;
}
.flex-row > select{
    margin-left: 10px;
}
.flex-end{
    justify-content: flex-end;
}
.fav-empty,.remove-item-cart{
    margin-left: 15px;
    height: 30px;
    width: 30px;
}
.add-to-favourite{
    cursor: pointer;
}
.remove-from-favourite{
    cursor: pointer;
}
.add-to-favourite:hover > .fav-empty{
    background: url(../../icons/favFilled.png);
}

@media all and (max-width: 1460px){
    .item-card {
        width: 100%;
    }
    .flex-center {
        display: flex;
        flex-direction: column;
    }
}
