body{
    background-color: rgb(245, 245, 245);
    font-family: Trebuchet MS;
}
.main-window{
    position: relative;
    top: 100px;
    margin: auto;
    width: 50%;
    height: 30em;
    display: flex;
}
.login-window{
    display: flex;
    width: 50%;
    height: 30em;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    gap: 15px;
}
.logo{
    align-items: center;
    margin-bottom: 2em;
}
.login-text{
    font-size: 20px;
    font-weight: 700;
    color: darkblue;
    font-family: Trebuchet MS;
}
.login-window form{
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 70%;
}
.login-window form button{
    align-self: flex-end;
    background-color: var(--primary-color);
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	padding:6px 40px;
	text-decoration:none;
    border: none;
}
.login-window form .container{
    background-color: rgb(245, 245, 245);
    border: none;
    padding: 5px 0;
    display: flex;
}
.login-window form .container input{
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    height: 25px;
    align-items: center;
    font-family: Trebuchet MS;
    font-size: 1em;
    appearance: text;
}
input{
    outline: none;
    background-color: transparent;
}
.login-window form .container span{
    height: 30px;
    width: 30px;
    margin: 0 5px;
}
.login-window form .container .separator{
    background-color: black;
    width: 2px;
    height: 90%;
    margin-right: 10px;
}
.redirect{
    width: 40%;
    height: 30em;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.redirect label{
    font-weight: 600;
    word-spacing: 0.2em;
    font-family: 'Trebuchet MS';
}
.redirect button{
    padding: 10px 20px;
    border: 1;
    border-radius: 25px;
    border-color: darkblue;
    color: darkblue;
    font-size: 20px;
    background-color: inherit;
    cursor: pointer;
    font-family: Trebuchet MS;
}