@use postcss-preset-env {
    stage: 0;
  }

  
  :root {
    --baseColor: #606468;
  }
  
  
  .align {

    display: grid;
    place-items: center;
  }

  .grid {

    inline-size: 90%;
    margin-inline: auto;
    max-inline-size: 20rem;

  }
  
  
  .hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  
  :root {
    --iconFill: var(--baseColor);
  }
  
  .icons {
    display: none;
  }
  
  .icon {
    block-size: 1em;
    display: inline-block;
    fill: white;
    inline-size: 1em;
    vertical-align: middle;
  }
  
  
  :root {
    --htmlFontSize: 100%;
  
    --bodyBackgroundColor: #ffffff;
    --bodyColor: var(--baseColor);
    --bodyFontFamily: "Open Sans";
    --bodyFontFamilyFallback: sans-serif;
    --bodyFontSize: 0.875rem;
    --bodyFontWeight: 400;
    --bodyLineHeight: 1.5;
  }
  
  * {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: var(--htmlFontSize);
  }
  
  body {
    background-color: var(--bodyBackgroundColor);
    color: var(--bodyColor);
    font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
    font-size: var(--bodyFontSize);
    font-weight: var(--bodyFontWeight);
    margin: 0;
    min-block-size: 100vh;
  }
  
  
  :root {
    --anchorColor: rgb(0, 0, 0);
  }
  
  a {
    color: var(--anchorColor);
    outline: 0;
    text-decoration: none;
  }
  
  a:focus,
  a:hover {
    text-decoration: underline;
  }
  
  
  :root {
    --formGap: 0.875rem;
  }
  
  input {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: background-color 0.3s;
  }
  
  input[type="submit"] {
    cursor: pointer;
  }
  
  .form {
    display: grid;
    gap: var(--formGap);
  }
  
  .form input[type="password"],
  .form input[type="text"],
  .form input[type="email"],
  .form input[type="submit"] {
    inline-size: 100%;
  }
  
  .form__field {
    border: 0.01rem solid rgb(51, 51, 51);
    display: flex;
    color:black;
  }

  .form__field_date{
    border: auto solid rgb(51, 51, 51);
    display: flex;
    color:black;
  }
  
  .form__input {
    flex: 1;
  }
  
/*zmienne*/
  
  :root {

    --loginColor: rgb(255, 255, 255);
  
    --loginInputBackgroundColor: #0077ff00;
    --loginInputHoverBackgroundColor: #e3e3e37f;
  
    --loginLabelBackgroundColor: #363b41;
  
    --loginSubmitBackgroundColor: #000000;
    --loginSubmitColor: #eee;
    --loginSubmitHoverBackgroundColor: #2b2b2b;
  }
  
  .login {
    color: var(--loginColor);
  }
  
  .login label,
  .login input[type="text"],
  .login input[type="password"],
  .login input[type="email"],
  .login input[type="submit"] {

    padding: 1rem;
  }
  
  .login label {
    background-color: var(--loginLabelBackgroundColor);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-inline: 1.25rem;
    
  }
  
  .login input[type="password"],
  .login input[type="email"],
  .login input[type="text"] {
    background-color: var(--loginInputBackgroundColor);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  
  .login input[type="password"]:focus,
  .login input[type="password"]:hover,
  .login input[type="email"]:focus,
  .login input[type="email"]:hover,
  .login input[type="text"]:focus,
  .login input[type="text"]:hover {
    background-color: var(--loginInputHoverBackgroundColor);
  }
  
  .login input[type="submit"] {
    background-color: var(--loginSubmitBackgroundColor);
    color: var(--loginSubmitColor);
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .login input[type="submit"]:focus,
  .login input[type="submit"]:hover {
    background-color: var(--loginSubmitHoverBackgroundColor);
  }
  
  
  p {
    margin-block: 1.5rem;
  }
  
  .text--center {
    text-align: center;
  }
  
  .logo{
    
    text-decoration: none;
    width:300px;
    height:300px;
    margin: 0 0.5rem 1.5rem 0;
    text-transform: uppercase;
    font-size: 10vh;
    color: rgb(84, 84, 84);
  }

.logo img{
    width:100%;
    height:100%
}

  a:hover{
    text-decoration: none;
  }


  /*validation*/

  #message {
    display:none;
    background: #ffffff;
    border: #363b41 solid 1px;
    font-size: 15px;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    font-size: 15px;
    padding: 0 35px;
  }

  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }

  .invalid {
    color: red;
  }  

  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }

  #id_data_urodzenia_month{
    width: 45%;
  }

  #id_data_urodzenia_day{
    width: 20%;
  }

  #id_data_urodzenia_year{
    width: 35%;
  }