{% extends 'sklep/base/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'sklep/order/checkout.css' %}" />
{% endblock %}
{% block content %}

<div class="shopping-cart">
    <div class="left-side-address">
        <div class="product-summary">
            {% for p_z in aktualne_zamowienie.get_pozycje_zamowienia %}
            <div class="product">
                <div class="product-info">
                    <div class="product-img">
                    <img src="{{ p_z.produkt.zdjecie_glowne.url }}" alt="produkt">
                </div>
                <div class="product-desc-sh">
                    <div class="product-name">
                        <h2><a href='#'>{{ p_z.produkt.marka }} {{ p_z.produkt.model}}</a></h2>
                    </div>
                    <div class="product-size">
                        Rozmiar: {{ p_z.rozmiar }}
                    </div>
                    <div class="product-price-sh">
                        Cena: {{ p_z.produkt.cena }} zł
                    </div>
                    <div class="product-quantity">
                        <div class="product-quantity-desc">
                            Ilość: {{ p_z.ilosc }}
                        </div>
                    </div>
                </div>
                </div>

            </div>
            {% endfor %}
        </div>
        <div class="address-shipment-info">
            <div class="delivery-info">
                <h2>Dane do wysyłki</h2>
                <div class="delivery-element">
                    <p><b>Imie:</b> {{ klient.user.first_name }}</p>
                    <p><b>Miejscowosc:</b> {{ aktualne_zamowienie.adres.miejscowosc }}</p>
                </div>
                <div class="delivery-element">
                    <p><b>Nazwisko:</b> {{ klient.user.last_name }}</p>
                    <p><b>Ulica:</b> {{ aktualne_zamowienie.adres.ulica }}</p>

                </div>
                <div class="delivery-element">
                    <p><b>E-mail:</b> {{ klient.user.email }}</p>
                    <p><b>Numer domu:</b> {{ aktualne_zamowienie.adres.numer_domu }}</p>

                </div>
                <div class="delivery-element">
                    <p><b>Telefon:</b> {{ klient.telefon }}</p>
                    <p><b>Numer Lokalu:</b> {% if aktualne_zamowienie.adres.numer_lokalu %} 
                        {{ aktualne_zamowienie.adres.numer_lokalu }} {% endif %}</p>
                </div>
                <div class="delivery-element">
                    <p></p>
                    <p><b>Kod pocztowy:</b> {{ aktualne_zamowienie.adres.kod_pocztowy }}</p>
                </div>
                <div class="delivery-element">
                    <p></p>
                    <p><b>Sposób dostawy:</b> {{ aktualne_zamowienie.rodzaj_wysylki.nazwa }}</p>
                </div>

            </div>
        </div>
    <form method="POST" action="{% url 'sklep:order_summary'  %}" >
        {% csrf_token %}
        <div class="payment-space">
            <div class="payment-title">
                <h2>Wybierz rodzaj płatności</h2>
            </div>
            <div class="payment-selection">
                <select id="rodzaj_platnosci"  name="rodzaj_platnosci"> 
                    {% for r_p in rodzaje_platnosci %}
                    <option value="{{ r_p.id }}">
                        {{ r_p.nazwa }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="card-payment hide" id="card-payment">
                <p>Wybierz kartę płatniczą</p>
                <select name="karta_platnicza">
                    {% for k_p in karty_platnicze %}
                        <option value="{{ k_p.id }}">
                            {{ k_p.numer }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="blik-payment" id="blik-payment">
                <p>Wprowadz kod BLIK</p>
                <input type="text" maxlength="6"  name='blik-number'>
            </div>

            
            
        </div>
        
    </div>
    
    <div class="order-summary">
        <div class="order-panel">
            <div class="order-price">
                <h2>Podsumowanie</h2>
                <p> Produkty: {{ aktualne_zamowienie.get_kwota_zamowienia }} zł</p>
                <p> Wysyłka: {{ aktualne_zamowienie.rodzaj_wysylki.cena }} zł</p>
                <p> Całość: {{ full_kwota }} zł</p>
                
            </div>
            <div class='go-next'>
                <button class="go-next-btn">Zamawiam i płacę</button>
            </div>
        </div>
    </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'sklep/order/checkout.js' %}"></script>
{% endblock %}